<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tair2.3_monitor</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.tair_2_3.statmonitor.TairStatInfoReaderDeamon</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>dataservernodeinfo2json</display-name>
    <servlet-name>dataservernodeinfo2json</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.dataservernodeinfo2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataservernodeinfo2json</servlet-name>
    <url-pattern>/dataservernodeinfo2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>areainfo2json</display-name>
    <servlet-name>areainfo2json</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.areainfo2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>areainfo2json</servlet-name>
    <url-pattern>/areainfo2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nodestatistics</display-name>
    <servlet-name>nodestatistics</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.nodestatistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nodestatistics</servlet-name>
    <url-pattern>/nodestatistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectedareainfo</display-name>
    <servlet-name>selectedareainfo</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.selectedareainfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectedareainfo</servlet-name>
    <url-pattern>/selectedareainfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delay2json</display-name>
    <servlet-name>delay2json</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.delay2json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delay2json</servlet-name>
    <url-pattern>/delay2json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bucketsdistrbution</display-name>
    <servlet-name>bucketsdistrbution</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.bucketsdistrbution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bucketsdistrbution</servlet-name>
    <url-pattern>/bucketsdistrbution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getrequest</display-name>
    <servlet-name>getrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.getrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getrequest</servlet-name>
    <url-pattern>/getrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>alipaygetrequest</display-name>
    <servlet-name>alipaygetrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.alipaygetrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alipaygetrequest</servlet-name>
    <url-pattern>/alipaygetrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>cleararearequest</display-name>
    <servlet-name>cleararearequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.cleararearequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cleararearequest</servlet-name>
    <url-pattern>/cleararearequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>getrequestnoheader</display-name>
    <servlet-name>getrequestnoheader</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.getrequestnoheader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getrequestnoheader</servlet-name>
    <url-pattern>/getrequestnoheader</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>prefixgetrequestnoheader</display-name>
    <servlet-name>prefixgetrequestnoheader</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.prefixgetrequestnoheader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prefixgetrequestnoheader</servlet-name>
    <url-pattern>/prefixgetrequestnoheader</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>getdsrequest</display-name>
    <servlet-name>getdsrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.getdsrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getdsrequest</servlet-name>
    <url-pattern>/getdsrequest</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>prefixgetrequest</display-name>
    <servlet-name>prefixgetrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.prefixgetrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prefixgetrequest</servlet-name>
    <url-pattern>/prefixgetrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>delrequest</display-name>
    <servlet-name>delrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.delrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delrequest</servlet-name>
    <url-pattern>/delrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>alipaydelrequest</display-name>
    <servlet-name>alipaydelrequest</servlet-name>
    <servlet-class>com.tair_2_3.statmonitor.servlet.alipaydelrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alipaydelrequest</servlet-name>
    <url-pattern>/alipaydelrequest</url-pattern>
  </servlet-mapping>
</web-app>